html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: var(--colors-white, #FFF);
    background: url('../images/bg-desktop.svg') top center no-repeat var(--colors-purple-700, #684BB1);
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 6rem;

}

.header,
.main,
.footer {
    max-width: 127.2rem;
    width: 100%;

}

.header {
    margin-bottom: 10.4rem;

}

.header img {
    width: 22rem;
}

.main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-700, 5.6rem);
}


.hero-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500, 4rem);
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300, 2.4rem);
    max-width: 52rem;
    width: 100%;
}

.description h1 {
    font-family: Poppins, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 125%;
}

.description p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
}

.btn-primary {
    display: flex;
    width: 20rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 0.8rem);

    border-radius: 2.8rem;
    background: var(--colors-white, #FFF);
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);

    color: var(--colors-purple-700, #684BB1);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s ease, transform 0.3s ease;

}

@media (prefers-reduced-motion: reduce) {
    .btn-primary {
        transition-duration: 0s;
    }
}

.btn-primary:hover,
.btn-primary:focus-visible {
    background: var(--colors-magenta-400, #E880E8);
    color: var(--colors-white, #FFF);

}

/* -------------------------------------------- */
.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-300, 2.4rem);
}

.footer nav ul {
    display: flex;
    gap: var(--spacing-200, 1.6rem);
}

.footer nav ul li {
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    border: 1.176px solid var(--colors-white, #FFF);
}

ul li:hover,
ul li:hover .fab{
    border-color: var(--colors-pink-400, #FF52C1);
    color: var(--colors-pink-400, #FF52C1);
    cursor: pointer;
}
a .fab {
    font-size: 1.9rem;
    color: var(--colors-white, #FFF);

}